## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    
    1.Python
    2.R
    3.SQL

Some of the commonly used libraries used by Data Scientists are:
    
    1.NumPy
    2.Matplotlib
    3.Scikit-learn

Data Science Tools| 
| ------ | 
| MySQL | 
| Apache Spark | 
| PostgreSQL |

#### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

__Objectives:__
List popular languages for Data Science

* Python
* R
* SQL

### Author
David Bell